<header style="background-image: url('url_de_votre_image_de_fond'); background-size: cover; background-position: center; padding: 50px 0; text-align: center; color: white;">
    <div class="container">
        <img src="assets/Visualisation des données  valorisation et interprétation des données pertinentes, et mise en forme dans un tableau de bord.png" alt="Votre photo" style="border-radius: 50%; width: 150px; height: 150px; margin-bottom: 20px;">
        <h1>Dolores Valide</h1>
        <p>Data Scientist | Data Analyst | Data enthusiastic</p>
    </div>
</header>
